/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #e7e8ec;
}
a {
    text-decoration: none;
}
.visible {
    display: none;
}
/* END GLOBAL */


/* Header */
.header {
    display: flex;
    background-color: white;
    padding: 0 200px;
    align-items: center;
}
#myInput {
    background-image: url('images/icons8-search-16.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
    background-color: #e7e8ec;
    font-size: 13px;
    padding: 6px 120px 5px 35px;
    border: 1px solid #e7e8ec;
    margin-left: 150px;
    border-radius: 5px;
    width: 100px;
    height: 15px;
    align-items: center;
    border-style: none;
}
/* end header */


/* left Content-1 */
.android_ios_href {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding-top: 420px;
}
.android_ios_img {
    position: absolute;
    top: 0;
}
.button_href {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}
.icons_android_ios {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gsm1{
    margin-left: 50px;
}
.gsm2 {
    margin-left: 60px;
}
.android_ios_text {
    margin-left: 5px;
    color: #2a5885;
}
.mobile_devices_img {
    padding-top: 40px;
}
.VK_for_mobile{
    width: 650px;
    padding: 25px 0;
    text-align: center;
}
.h1_content {
    font-size: 25px;
    font-weight: 700;
}
/* end left Content-1 */


/* right Content-1 */
.content {
    display: flex;
    justify-content: center;
}
.right_content {
    width: 320px;
}
.right_sign {
    background-color: white;
    margin: 25px 0 0;
    border-radius: 5px;
    padding: 30px 25px;
    box-sizing: border-box;
}
.right_vk_icon {
    height: 60px;
    width: 60px;
    color: #0077ff;
    margin: auto;
}
.right_vk_p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
.right_btn_in_up {                /* GLOBAL */
    font-size: 15px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.sign_in_btn {
    background-color: #0077ff;
    color: white;
}
.sign_up_btn {
    background-color: #4bb34b;
    color: white;
    margin-top: 10px;
}                                 /* GLOBAL */
.right_ID {
    margin-top: 25px;
    color: #818c99;
    font-size: 14px;
    text-align: center;
}
.right_ID > p {
    display: inline;
}
.learn_more {
    color: #626d7a;
    font-weight: 600;
}
.fixed{
    position: fixed;
    padding-left: 180px;
}
/* end right Content-1 */


/* Login mobile version */
.kmn {               /* HEADER Login mobile version */
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}                    /* END HEADER Login mobile version */
.login_mobile_version {
    display: flex;
    justify-content: center;
}
.loginBlock {
    background-color: #fff;
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
}
.linkStyle {
    color: #2d81e0;
    font-size: 15px;
}
.link_mobile_img {
    background-image: url(/images/mobile_new.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 15px 25px 15px;
    position: relative;
    margin-left: 13px;
}
.link_arrow_img{
    background-image: url(/images/blue_arrow.png);
    width: 20px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 15px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -7px;
}
.div_sign {
    padding: 20px 18px;
}
.style_sign_in {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
}
.style_touch {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #99a2ad;
}
/* end Login mobile version */


/* Sign in to VK with VK ID left */
.vk_with_vk_id {
    width: 370px;
    padding: 30px;
    box-sizing: border-box;
    background: #f9f9f9;
}
.sign_in_id_logo {
    margin-bottom: 15px;
}
.id_logo {
    display: flex;
    align-items: center;
}
.sign_in_h2_id {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.sign_in_id {
    width: 370px;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}
.sign_in_id_list {
    list-style: none;
}
.sign_in_id_listItem {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.sign_in_id_listItemIcon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 10px;
    color: #99a2ad;
}
.sign_in_id_listItemText {
    font-size: 15px;
    color: #6d7885;
}
/* end Sign in to VK with VK ID left */


/* Sign in to VK with VK ID right */
.sign_in_phone_or_email {
    background: #fff;
    padding: 30px 30px 20px;
    box-sizing: border-box;
}
.in_phone_or_email_container, .in_phone_or_email_content {
    height: 100%;
}
.in_phone_or_email_content {
    display: flex;
    flex-direction: column; /*tox-syun*/
    justify-content: space-between; /*pater*/
    box-sizing: border-box;
}
.in_phone_or_email_logo {
    text-align: center;
    margin: 15px 0;
}
.sign_in_phone_num {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
}
.in_phone_or_email_input, .sign_in_phone_num_account {
    margin-bottom: 15px;
}
.sign_in_phone_num_account {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #818c99;
}
.in_phone_or_email_form {
    margin-bottom: 15px;
}
.sign_in_inputStyle {
    width: 100%;
    height: 40px;
    border: 1px solid #e1e3e6;
    background-color: #f2f3f5;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    font-size: 15px;
    font-weight: 400;
}
.sign_in_email_button {
    margin-bottom: 15px;
}
.sign_in_email_buttonStyle {
    border: 0;
    height: 35px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #4986cc;
    /*cursor: pointer;*/
    color: #f2f3f5;
    width: 100%;

}
.sign_in_email_button_disabled {
    opacity: .4;
    cursor: default;
}
.sign_in_email_button_text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.sign_in_email_agreeStyle {
    font-size: 11px;
    color: #99a2ad;
    text-align: center;
}
b {
    font-weight: 500;
}
.sign_in_email_agreeLink {
    color: #6d7885;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
}
.sign_in_email_agreeLinkFlex {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_in_email_agreeLinkIcon {
    margin-top: 1px;
}
.sign_in_email_agreeLinkIcon_01 {
    width: 5px;
    height: 5px;
    margin-left: 3px;
}
/* end Sign in to VK with VK ID right */


/* Sign in to VK with VK ID left + Sign in to VK with VK ID right */
.sign_in_left_right_border, .sign_in_left_right_cont {
    display: flex;
}
.sign_in_left_right_border {
    height: 450px;
    border: 1px solid #e1e3e6;
    border-radius: 10px;
    overflow: hidden;
}
.sign_in_left_right_cont {
    align-items: center;
    justify-content: center;
    width: 740px; 
    margin: 80px 0;
}
.sign_in_left_right_displayCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vk_with_vk_id, .sign_vk_id {
    height: 100%;
}
/* end Sign in to VK with VK ID left + Sign in to VK with VK ID right */